<div class="form-group row">
    <label class="col-sm-4 col-form-label" for="status">{{item}} </label>
    <div class="col-sm-8">
    <input class="form-control" id="status" disabled value="{{value}}"></input>
    </div>
</div>