<div class="card border-info bg-primary">
    <div class="card-header">
        <p>
            <i class="fa fa-tools"></i>
            {{request.categorymaintenance}}
            New Request
            <span class="float-right">
                <i class="fa fa-calendar"></i>
                {{formatDate request.createdAt}}
            </span>
        </p>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="request-category-maintenance">Category</label>
            <div class="col-sm-8">
                <select class="form-control" id="request-category-maintenance">
                    <option value="Appliance">Appliance</option>
                    <option value="Doors and Locks">Doors and Locks</option>
                    <option value="Flooring">Flooring</option>
                    <option value="Plumbing">Plumbing</option>
                    <option value="HVAC">HVAC</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="request-permission-to-enter">Enter ?</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="request-permission-to-enter">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                {{> request-textarea id="request-description" item="Description"}}
                {{> request-item id="request-alarm-code" item="Alarm Code"}}
                {{> request-textarea id="request-entry-notes" item="Entry Notes"}}
        </div>
        {{!-- <form class="form" method="post" enctype="multipart/form-data" action="/upload"> --}}
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="file">
                    Upload Image
                </label>
                <div class="col-sm-8">
                <input class="form-control text-sm btn" id="request-image" type="file" name="file">
                </input>
                </div>
            </div>
            {{!-- <input class="form-control text-sm btn btn-success" type="submit" value="Submit"> --}}
        {{!-- </form> --}}
        <div class="card-footer">
        <div class="btn-group float-right">
            <button type="button" class="btn btn-success btn-block wo-save"
                id="request-submit" onclick="submitRequest(this)">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                Send
            </button>
        </div>
        </div>
    </div>
</div>
<script src="/js/request.js"></script>